h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transform: translate(-200%, 0);
    transition: all 0.5s linear;
}
.active {
    opacity: 1;
    transform: translateY(0);
}